<%= render 'spree/admin/shared/taxes_tabs' %>

<% content_for :page_title do %>
  <%= "Transaction Sync Batches" %>
<% end %>

<table id="transaction_sync_batches">
  <thead>
    <tr>
      <th>Batch ID</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Processed Orders</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @batches.each do |batch| %>
      <tr>
        <td><%= batch.id %></td>
        <td><%= batch.created_at %></td>
        <td><%= batch.updated_at %></td>
        <td><%= batch.transaction_sync_logs.not_processing.count %>/<%= batch.transaction_sync_logs.count %></td>
        <td><%= batch.status.capitalize %></td>
        <td class='actions align-center'>
          <%= link_to_edit_url admin_transaction_sync_batch_path(batch), title: "admin_transaction_sync_batch_show_#{dom_id(batch)}", no_text: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @batches, theme: "solidus_admin" %>
