<table>
  <thead>
    <tr>
      <th>Log ID</th>
      <th>Order</th>
      <th>TaxJar Transaction ID</th>
      <th>Status</th>
      <th>Error Message</th>
      <th>Created at</th>
      <th>Updated at</th>
    </tr>
  </thead>
  <tbody>
    <% transaction_sync_logs.each do |log| %>
      <tr>
        <td><%= log.id %></td>
        <td><%= link_to log.order.number, spree.edit_admin_order_path(log.order) %></td>
        <td><%= log.order_transaction&.transaction_id || "-" %></td>
        <td><%= log.status.capitalize %></td>
        <td style="white-space: pre-wrap; width: 150px; overflow-wrap: anywhere;"><%= log.error_message %></td>
        <td><%= log.created_at %></td>
        <td><%= log.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
